@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header & Top-Navigation Area*/
header {
    height: 64px;
    border-bottom: 1px solid black;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-header a {
    font-family: "Playfair", sans-serif;
    text-decoration: none;
    color: black;

    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    margin-right: auto;
}
.nav__links a {
    color: red;
    margin-right: auto;
}
@media only screen and (max-width:1000px){
    .corner-one {
        display: none;
    }
    .nav__links a {
        display: none;
    }
    .nav__icons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .link-c, .link-b, .link-a, .corner-two {
        margin: 0 auto;
    }
}

@media only screen and (min-width:1000px){
    .nav__icons {
        display: none;
        justify-content: space-evenly;
    }
}
/*Main-Banner-Page-One*/
.banner-container {
    
    /*border-top: 5px solid black;
    border-bottom: 5px solid black;*/
    padding: 32px 0px 32px 24px;
    
    background-color: hsl(0, 0%, 90%);
    
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.img-text {
        margin: 0 auto;
        outline: 1px solid black;
        background-color: hsl(0, 0%, 90%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 24px;
}
@media only screen and (max-width:1000px) {
    .img-text {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    .img-text h3 {
        width: 80%;
        font-size: 24px;
        outline: 1px solid black;
        font-style: italic;
        text-align: center;
        font-size: 24px;
    }
    .img-text button {
        width: 25%;
        font-size: 14px;

    }



}


.img-text h1 {
    outline: 1px solid black;
    width: 80%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
}
.img-text button {
    padding: 8px 0px;
    width: 80%;
   
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
}
.img-text h3 {
    margin: 32px 0px;
}





@media only screen and (min-width:1000px) {
 
    .banner-img {
        width: 55%;/*This next line is a test*/
       /* height: 575px; */
       
    }
    .img-text {
        width: 40%;
        margin-left: 24px;
    }
    .img-text h3 {
        display: none;
    }
    .img-text button {
        margin-top: 32px;
    }
 

}
@media only screen and (max-width:1000px) {
    .banner-container {
        padding: 0px 0px;
    }
    .banner-img {
        width: 100%;
    }
}

/*Second Page-Scrolling Down*/
.second-banner-container {
    background-color: hsl(0, 0%, 90%);
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 32px 0px;
}

.second-img-container{
    outline: 1px solid black;
    padding: 0px 24px;
    width: 60%;
    background-color: hsl(0, 0%, 90%);
}
.second-img-container img {
    width: 100%;
    height: 100%;
    
}


