@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Header & Top-Navigation Area*/
header {
    height: 64px;
    border-bottom: 1px solid black;
    padding: 0 24px 0px 24px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-header a {
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: black;

    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    margin-right: auto;
    /*Re-committed*/

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.nav__links a:hover{
    text-decoration: underline;

}
.corner-one img {
    padding-top: 2px;
    padding-right: 6px;
}
.link-b {
    margin-left: 35px;
}
.link-c {
    margin-left: 35px;
  }
@media only screen and (max-width:1000px){
    .corner-one {
        display: none;
    }
    /*Notice here with the "a.corner-one"
    A good chance to investigate...*/
    a.corner-one {
        display: none;
    }
 
    .nav__links a {
        display: none;
    }
    .nav__icons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        margin-top: 7.5px;
    }
    .link-c, .link-b, .link-a, .corner-two {
        margin: 0 auto;
    }
}

@media only screen and (min-width:1000px){
    .nav__icons {
        display: none;
        justify-content: space-evenly;
    }
}
/*Main-Banner-Page-One*/
.banner-container {
    
    /*border-top: 5px solid black;
    border-bottom: 5px solid black;*/
    padding: 22px 0px 32px 24px;
    
    background-color: hsl(0, 0%, 90%);
    
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.img-text {
        margin: 0px 0px 0px 44px;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 24px;
}
@media only screen and (max-width:1000px) {
    .img-text {
        width: 100%;
        padding: 72.5px 24px;
        margin: 0 auto;
        
    }
    .img-text h3 {
        width: 80%;
        font-size: 24px;
        outline: 1px solid black;
        font-style: italic;
        text-align: center;
        font-size: 24px;
    }
    .img-text button {
        width: 25%;
        font-size: 14px;

    }



}


.img-text h1 {
    
    width: 80%;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 38px;
    line-height: 1.4;
    background-color: #24252A;
    color: #ddc09b;
    border-radius: 15px;
    
}
.img-text button {
    padding: 8px 0px;
    width: 80%;
   
    font-family: 'Merriweather', serif;
    font-size: 26px;
}
.img-text h3 {
    margin: 32px 0px;
}





@media only screen and (min-width:1000px) {
 
    .banner-img {
        width: 55%;/*This next line is a test*/
       /* height: 575px; */
       
    }
    .img-text {
        width: 40%;
        margin-left: 24px;
    }
    .img-text h3 {
        display: none;
    }
    .img-text button {
        margin-top: 32px;
    }
 

}
@media only screen and (max-width:1000px) {
    .banner-container {
        padding: 0px 0px;
    }
    .banner-img {
        width: 100%;
    }
}

/*Second Page-Scrolling Down*/
.second-banner-container {
    background-color: hsl(0, 0%, 90%);
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 32px 0px;
}
.second-image-para-container {
    width: 60%;
    
}
.second-img-container{
    outline: 1px solid black;
    padding: 0px 24px;
    width: 100%;
    background-color: hsl(0, 0%, 90%);
}
.second-img-container img {
    width: 100%;
    height: 100%;
}
.para-container {
    padding: 32px 24px;
}
.second-right-list {
    outline: 1px solid black;
    padding-left: 24px;
    padding-right: 24px;
    width: 40%;
    background-color: hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    
}
.orientation {
    border-bottom: 0.5px solid black;
    width: 100%;
    padding: 16px 0px 14px 16px;
    display: inline-flex;    
}
.orientation-image-container {
    width: 35%;
    height: auto;
}
.orientation-image-container img {
    width: 100%;
    height: auto;
}
.orientation-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    
    width: 65%;
    height: auto;
}
.campus, .campus-text-container, 
.campus-image-container {
    background-color: whitesmoke;
}
.campus-text-container h1 p a {
    background-color: whitesmoke;
}
.campus {
    border-bottom: 1px solid black;
}

.campus, .guest-lecture {
    
    width: 100%;
    padding: 16px 0px 14px 16px;
    display: inline-flex; 
    align-items: center;
}
.campus-image-container, .guest-image-container {
    width: 35%;
    height: auto;
}
.campus-image-container img, 
.guest-image-container img {
    width: 100%;
    height: auto;
}
.campus-text-container, .guest-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    
    width: 65%;
    height: auto;
}
/* In the following area we intend to use
display: initial, and display: none;*/
@media only screen and (max-width: 1000px) {
    .second-image-para-container {
        display: none;
    }
    .second-right-list {
        width: 100%;
        padding: 0px 0px;
    }
    .image-c, .image-ga, .orien-a {
        display: none;
    }
  
}
@media only screen and (min-width: 1000px) {
    .alternative-image-c, .image-gb, 
    .orien-b {
        display: none;
    }
}
/*Mobile Phone - Size Adjustments*/
@media only screen and (max-width: 420px) {
    .campus-text-container p, .guest-text-container p,
     .orientation-text-container p {
       display: none;
   }
   .second-banner-container {
       padding: 12px 0px;
   }
   .second-right-list {
       padding: 0px 0px;
   }
   .campus-text-container, .orientation-text-container,
   .guest-text-container {
    margin-bottom: 3.5px;
   }  
}
/* Third-Banner Section
Wall-to-Wall Div, then Div-of-6: the
Subject Menu, then 6-divs: each
with a text-based section and a image section.*/
.third-banner {
    width: 100%;
    border-top: 5px solid black;
    border-bottom: 5px solif black;
    background: lightgray;
    padding: 32px 72px;
}
.third-banner-heading {
    text-align: center;
    font-size: 32px;
    padding: 15px 0px;
    border-radius: 10px 10px 0px 0px;
}

.subject-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}
.software-engineering, .computer-art,
.design, .data, .business, .marketing {
    width: 30%;
    min-width: 300px;
    margin: 10px 10px;
}
.subject-menu img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}
/*Mobile Representation of Third-Banner Section
Build */

.third-banner-mobile {
   display: flex;
   width: 100%;
    outline: 5px solid black;

    justify-content: center;
    background-color: #edf0f1;
}

.mobile-button-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 0 20px 0;
}
.mobile-button-container h3 {
    text-align: center;
    padding: 16px 16px 16px 16px;
    font-size: 26px;
    color: #24252A;
    margin-bottom: -8px;
}

.mobile-button-container button {
    padding: 16px 16px 16px 16px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #edf0f1;
    background-color: #24252A;
    border-radius: 10px;
    transition-property: color;
    cursor: pointer;

    
}
button:hover {
    color: #ddc09b;
}

@media only screen and (max-width: 900px) {
    .third-banner {
        display: none;
    }
}
@media only screen and (min-width: 900px) {
    .third-banner-mobile {
        display: none;
    }
}

/*Fourth-Banner Container Notes; Experiment
with Flex vs Inline-Flex*/
.fourth-banner-container {
    background-color: whitesmoke;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 5px 12px 20px;
}
.fourth-header-div {
        text-align: center;
        outline: 1px solid black;
        font-size: 32px;
        display: block;
        margin: 1px auto;
        background-color: whitesmoke;
        width: 100%;
}
.fourth-header-div h3 {
    font-size: 32px;
}
.fourth-banner-video-para-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.fourth-video-container video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.fourth-para-container h5 {
    font-size: 24px
}
.fourth-para-container p {
    font-size: 18px
}
.fourth-side-container {
    
    height: auto;
    margin-left: 14px;
    width: 37.5%;
    display: flex;
    flex-direction: column;
}


.fisma-div, .new-york-div {
  display: flex;
  flex-direction: row;
  padding: 18px 0px 18px 18px;
}
.fisma-div, .fisma-img, .fisma-text,
.fisma-text h3, .fisma-text p {
    background-color: #C0C0C0;
}
.fisma-img, .new-york-img {
    width: 35%;
}
.fisma-img img, .new-york-img img {
    width: 100%;
    height: auto;
}
.fisma-text p, .new-york-text p {
    margin-top: 6px;
}
.fisma-text, .new-york-text {
    padding: 0px 0px 0px 18px;
    width: 65%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.new-york-div {
    border-bottom: 0.25px solid black;
}



@media only screen and (max-width: 900px) {
    .fourth-side-container  {
        display: none;
    }
    .fourth-banner-video-para-container {
        width: 100%;
    }
}