@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
header {
    height: 64px;
    border-bottom: 1px solid black;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-header a {
    font-family: "Playfair", sans-serif;
    text-decoration: none;
    color: black;

    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    margin-right: auto;
}
.nav__links a {
    color: red;
    margin-right: auto;
}
@media only screen and (max-width:1000px){
    .corner-one {
        display: none;
    }
    .nav__links a {
        display: none;
    }
    .nav__icons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .link-c, .link-b, .link-a, .corner-two {
        margin: 0 auto;
    }
}

@media only screen and (min-width:1000px){
    .nav__icons {
        display: none;
        justify-content: space-evenly;
    }
}
/*This is the main banner section, we intend to have both the 
desktop and mobile versions here, and we intend to try 
flexbox, and then position, if flexbox is not working.*/
.banner-container {
    
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    
    
    background-color: hsl(0, 0%, 90%);
    
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.img-text {
        margin: 0 auto;
        outline: 1px solid black;
        background-color: hsl(0, 0%, 90%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.img-text h1 {
    outline: 1px solid black;
    width: 80%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: nowrap;
}
.img-text button {
    padding: 8px 0px;
    width: 80%;
    margin: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
}





@media only screen and (min-width:1000px) {
    .banner-container {
        padding-left: 
    }
    .banner-img {
        width: 60%;
    }
    .img-text {
        width: 40%;
    }
}
@media only screen and (max-width:1000px) {
    .banner-container {
        padding: 0px 0px;
    }
    .banner-img {
        width: 100%;
    }
}